@font-face {
    src: url("../assets/fonts/Gotham-Bold.woff");
    font-family: gotham;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background {
    /*margin: 0;*/
    /*padding: 0;*/
    /*background-color: black;*/
    background: url("https://lockpaperscissors.co/wp-content/uploads/spotify-theme-music-bkg-dark.png");
    /*background: url("https://lh6.googleusercontent.com/proxy/sT25THRHXc_LxNaGpPqYmSacs09suGLy6V6kafR3UwT9wC3jIh8D6prsKT3gyq4n8BMEpx1vFQPLwjcRZTV2LSYVsonQVy9Uf95YGwgqjf9z3Y_eq9QZk9KkVzd57RhO--yCBqar4FzCSBcMjmkqgZBLx0UsKDGuumYTOs0iy_gYTgrSIPvAOUU=s0-d") rgba(0, 0, 0, 0.4 );*/
    background-position: center;
    background-size: auto;
    height: 100vh;
    width: 100%;
    display: table;
    /*background-blend-mode: multiply;*/

}

#loginContainer {
    width: 80%;
    position: relative;
    margin: 10px auto;
    max-width: 1024px;
}

#inputContainer {
    width: 400px;
    padding: 45px;
    float: left;
}

#loginContainer * {
    color: white;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-weight: normal;
    box-sizing: border-box;
    line-break: 10px;
}

#inputContainer h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 29px;

}

#inputContainer input[type='text'],
#inputContainer input[type='password'],
#inputContainer input[type='email'] {
    display: block;
    height: 27px;
    width: 100%;
    border: none;
    border-bottom-style: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    line-height: 27px;
    transition: all 0.2s ease;
    margin-bottom: 5px;
    outline: none;

}

#inputContainer input:focus {
    border-bottom: 2px solid #00BE25;
}

#inputContainer label {
    color: white;
    display: block;
    margin-top: 5px;
}

#inputContainer input:focus ~ label {
    color: red;
}

#inputContainer button {
    background-color: #00D54C;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    transition: all ease 0.2s;
    outline: none;
}

#inputContainer button:hover {
    background-color: #00D54C;
    transform: scale(1.1);
}

#inputContainer .erroMsg {
    color: #00D54C;
    font-size: 14px;
    margin-top: 10px;
}

.hasAccount {
    text-align: center;
}

.hasAccount span {
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

#loginText {
    padding: 45px;
    display: table-cell;
}

#loginText h1 {
    font-family: "Helvetica",Arial;
    padding-bottom: 10px;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: -2px;
    margin: 36px 0 10px 0;
    color: #00D54C;



}

#loginText h2 {
    /*margin: 10px auto;*/
    font-size: 2em;
    font-weight: unset;
    margin-bottom: 10px;


}

#loginText ul {
    font-size: 18px;
}

#loginText ol {
    padding: 5px 0px;
}
#RegisterForm
{
    display: none;
}