*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue","Helvetica",Arial;
}
#nowPlayingBarContainer
{
	width: 100%;
	/*height: 100px;*/
	background-color: #282828;
	position: fixed;
	bottom: 0;
	min-width: 620px;
}
#nowPlayingBar
{
	height: 90px;
	padding: 15px;
	display: flex;
}
#nowPlayingBarLeft,
#nowPlaingBarRight
{
	width: 30%;
	min-width: 180px;
}
#nowPlayingBarCenter
{
	width: 40%;
	display: flex;
	flex-direction: column;
}
.content
{
	display: flex;
	width: 100%;
	height: 54px;

}
#nowPlayingBarCenter .content
{
	display: flex;
	flex-direction: column;
}
.content .artwork
{
	width: 56px;
}
.content .trackinfo
{
	margin: 10px;
}
.content .trackinfo .artistname
{
	font-size: 14px;
}
.playerControl .buttons
{
	margin: 0 100px 0 180px;
	display: table;
}
.buttons .ControlButton
{
	background-color: transparent;
	border:none;
	outline: none;
}
.ControlButton img
{
	width: 30px;
	height: 30px;
}
.progressBar
{
	width: 100%;
	height: 12px;


}
.progressBarbg
{
  background-color: #404040;
  height: 5px;
  width: 100%;
  border-radius: 91px;
}
.playbackBar
{
	display:flex;
	align-items: flex-end;
}
.progress
{
  background-color: #cecece;
  height: 5px;
  border-radius: 91px;
  width: 10%;
  transition: 0.12s;
}
/*.progress:hover
{
	 background-color: rgb(0, 255, 85);

}*/
.progressBar:hover  .progress
{
	background-color: rgb(0, 255, 85);
}
.progressTime
{
	padding: 0 10px;
}
.volumeBar
{
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: right;
}
.volumeBar .progressBar
{
	width: 40%;
}
#topContainer
{
	min-height: 100%;
	width: 100%;
}
#topContainer #navBarContainer
{
	width: 232px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;

}
.navbar .group
{
	padding: 10px 0;
	border-top: 2px solid #282828;
}
.navbar .navItem
{
	position: relative;
	display: block;
	padding: 11px 10px;
	font-size: 18px;
	font-weight: bold;
}
.navItemLink
{
	color: #aaa;
	text-decoration: none;
}
.navItem a
{
	color: white;
	text-decoration: none;
	transition: all ease 0.2s;
}
.navItem:hover
{
	background-color: #282828;
}

.logo img
{
	height: 50px;
	margin: 20px;
	/*filter: grayscale(100%);*/
	filter: contrast(200%);
	
}
.searchIcon
{
position: relative;
/*float: l;*/
float: right;
width: 26px;
margin-right: 25px;
}